<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.mapper.FrontHomeMapper">
<select id="getHomeImg" parameterType="int" resultType="com.neu.beans.Swiper">
	SELECT * FROM swiper WHERE qid = #{qid}
</select>
<select id="getnewTwoLesson" parameterType="int" resultType="com.neu.beans.Lesson">
	SELECT * FROM lesson where qid = #{qid} ORDER BY pubtime DESC LIMIT 0,2 
</select>
<select id="getNewTwoFreeListen" parameterType="int" resultType="com.neu.beans.FreeListen">
	SELECT * FROM freelisten where qid = #{qid} ORDER BY pubtime DESC LIMIT 0,2 
</select>
	
</mapper>