

.up_back
{
	width: 100%;
	height: 200px;	
	position: absolute;
    background-image: url(../images/time.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
}

.myinfo
{
	position: relative;
	width: 85px;
	height: 98px;
	margin: 50px auto auto auto;
}

.myinfo .mypic
{
	width: 85px;
	height: 85px;
}

.myinfo .mypic .mytouxiang
{
	width: 85px;
    height: 85px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.myinfo .myname
{
	text-align: center;
	width: 85px;
	height: 20px;
	align-items: center;
	font-family: "微软雅黑";
	font-size:13px;
	color: #FAFAFA;
	margin: 3.5px auto;
}



.down_back
{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 200px;
}

.down_content
{
	width: 100%;
	height: 70px;
	border: 0px;
}

.down_content .down_choice
{
	width: 100%;	
	align-items: center;
}

.down_choice .choice_pic
{
	height:40px;
	margin:5px auto;
	align-items: center;
	justify-content: center;
	display: flex;
}

.choice_pic2
{
	height: 40px;
	width: 50px;

}

.down_choice .choice_word
{
	text-align: center;
	height: 16px;
	font-family: "微软雅黑";
	font-size:13px;
	color: #6D6D72;
	margin: 2px auto;
}

