
.reservecardback
{
	width: 100%;
	height: 100%;
}

.reservecard
{	
	width: 100%;
	margin: 0px auto 20px auto;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,37,55,.1);
    height: 170px;
    
}

.reservecard_up
{
	height: 30px;
	
}

.reservecard_time
{
	float: left;
	font-size: 13px;
	margin:8.5px 6px;
	line-height: 13px;
	font-family:"consolas";
	
}

.reservecard_state_checking
{
	line-height: 12px;
	float: right;
	font-size: 12px;
	margin:  9px 6px;
	color: #EC971F;
	font-family: "黑体";
}



.reservecard_state_success
{
	line-height: 12px;
	float: right;
	font-size: 12px;
	margin:  9px 6px;
	color:#007aff;
	
	font-family: "黑体";
}

.reservecard_body
{
	height: 110px;
	background-color: #DDDDDD;
}

.reservecard_pic
{
	float: left;
	height: 95px;
	width: 95px;
	margin: 6px auto 9px 15px;
	overflow: hidden;
}

.reservecard_pic img
{
	height: 95px; width: auto; overflow: hidden;
	left: 50%;			
	position: relative;		
    -webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

.reservecard_intr
{
	height: 94px;	
	width: 220px;
	float: left;
	margin: 6px auto 0px 15px;
	word-wrap:break-word;
    word-break:break-all;
    font-size: 11px;
	color: #8f8f94;
	overflow: hidden;
	line-height: 15px;
	
}
.reservecard_intr p
{
	color: #000000;
	font-family: "黑体";
	font-size: 13px;
	word-wrap:break-word;
    word-break:break-all;
    margin-bottom: 0px;
}

.time_p
{
	font-family: "consolas";
	color:#F0AD4E;
	font-size: 11px;
}



.reservecard_down
{
	width: 100%;
    padding-top: 1px;
	height: 30px;
}


